.App {
    text-align: center;
}

.App-header {
    width: 100%;
    background-color: #FF6666; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.red-rectangle {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    margin: 10px auto; 
}

.column-content {
    text-align: center; 
}